.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
.skor {
  padding: 5px;
  margin: auto;
  height: 70px;
  width: 70px;
  color: white;
  
}
.skor-player {
  font-size: 40px;
  padding-bottom: 8px;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
button{
  cursor: pointer;
  margin-top: 2rem;
  width: 120px;
  height: 50px;
  border-radius : 7%;
  border-color: transparent;
}
button:hover{
  background-color: #ffd4d4;
  transform: scale(1.2);
}
.area-player-1 {
  display: inline-block;
}.area-player-2 {
  display: inline-block;
}